<div class="sidebar">
  <h2 class="sidebar-title">Farmer Dashboard</h2>
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="/profile" class="nav-link">
        <i class="fas fa-user"></i> Profile
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/crop-tracking" class="nav-link">
        <i class="fas fa-seedling"></i> Crop Tracking
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/weather" class="nav-link">
        <i class="fas fa-cloud weather-icon"></i> Weather Widget
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/recommendations" class="nav-link">
        <i class="fas fa-lightbulb"></i> Recommendations
      </a>
    </li>

    <!-- Knowledge hub -->
    <li class="nav-item">
      <a routerLink="/knowledge-hub/articles" class="nav-link">
        <i class="fas fa-book"></i> Knowledge Hub
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/logout" class="nav-link">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </li>
  </ul>
</div>